<web-app>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>com.gabriel.userregistration.dto.LoginRequest</servlet-name>
        <servlet-class>com.gabriel.userregistration.dto.LoginRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.gabriel.userregistration.dto.LoginRequest</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>com.gabriel.userregistration.dto.RegisterRequest</servlet-name>
        <servlet-class>com.gabriel.userregistration.dto.RegisterRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.gabriel.userregistration.dto.RegisterRequest</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>